
<div style="border-bottom: 1px solid #ddd;">
    <SearchBar [placeholder]="'Search'" [maxLength]="8"></SearchBar>
</div>
<SegmentedControl [values]="['Recommend', 'Favourite']" class="title"></SegmentedControl>
<div *ngIf="loading; else elseBlock" class="layout">
    <Icon [type]="'loading'" [size]="'lg'"></Icon>
</div>
<ng-template #elseBlock>
    <List>
        <ListItem
            multipleLine
            [thumb]="item.icon"
            [arrow]="'dom'"
            (onClick)="onClick()"
            [extra]="item.regularMarketDayLow.raw"
            *ngFor="let item of data"
        >
            {{ item.symbol }}
            <Brief>{{ item.shortName }}</Brief>
        </ListItem>
    </List>
</ng-template>


