.layout {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}
.logo {
    height: 80px;
    width: 80px;
    margin-left: auto;
	margin-right: auto;
    align-content: center;
    text-align: center;
}
img {
    width: 50px;
    height: 50px;
}
 .am-list {
     margin-left: 50px;
     margin-right: 50px;
     display: flex;
     align-items: center;
 }
 .am-list-body {
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    /* height: 100vh; */
    background-color: #fff;
    /* border-top: 1px solid #ddd; */
    /* border-bottom: 1px solid #ddd; */
  }
  .am-list-header {
    padding: 15px 15px 9px 15px;
    font-size: 14px;
    color: #888;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .am-list-body InputItem:not(:last-child) .am-list-line {
    border-bottom: 1px solid #ddd;
  }

  .am-list-item .am-list-line .am-list-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #000;
    font-size: 17px;
    line-height: 1.5;
    text-align: left;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 7px;
    padding-bottom: 7px;
  }