<app-header [title]="title"></app-header>
<Carousel [infinite]="true" (beforeChange)="beforeChange($event)" (afterChange)="afterChange($event)">
    <CarouselSlide *ngFor="let item of state.data; let i = index" [ngStyle]="{ height: state.imgHeight }">
        <div style="display: inline-block; width: 100%;" [ngStyle]="{ height: state.imgHeight }">
        <img
            src="https://zos.alipayobjects.com/rmsportal/{{ item }}.png"
            style="pointer-events: none; width: 100%;"
        />
        </div>
    </CarouselSlide>
</Carousel>
<Card [full]="true">
    <CardHeader [title]="'Life cost'">
      <ng-template #extra>
        <span>this is extra</span>
      </ng-template>
    </CardHeader>
    <CardBody>
      <div id="c1"></div>
    </CardBody>
    <!-- <CardFooter [content]="'footer content'" [extra]="footerExtra">
      <ng-template #footerExtra>
        <div>extra footer content</div>
      </ng-template>
    </CardFooter> -->
</Card>

<Card [full]="true">
    <CardHeader [title]="'Investment Interest'">
        <ng-template #extra>
        <span>this is extra</span>
        </ng-template>
    </CardHeader>
    <CardBody>
      <div id="c2"></div>
    </CardBody>
    <!-- <CardFooter [content]="'footer content'" [extra]="footerExtra">
        <ng-template #footerExtra>
        <div>extra footer content</div>
        </ng-template>
    </CardFooter> -->
</Card>